* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  font-size: 18px;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);  
}

/* NAVBAR */
nav {
  width: 100%;
  height: 60px;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #1f1e1e 74%);
  display: flex;
  padding: 5px 10px;
}

.logo {
  color: #C850C0;
  text-decoration: none;
  align-self: center;
  cursor: pointer;
}

.navbar {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0 30px;
  align-self: center;
}

.nav-item {
  margin: 0 10px;
}

.nav-item a {
  font-size: 16px;
  text-decoration: none!important;
  color: #ffffff;
}

.nav-item:hover {
  border-bottom: 2px solid #C850C0;
  cursor: pointer;
}

/* CONTENEDOR PRINCIPAL */
main {
  display: flex;
  justify-content: space-evenly;
  margin: 40px 20px;
}

/* COMPONENTES FORM Y LIST */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input-group input{
  padding: 4px;
  outline: none;
  border: none;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.2);
}

.input-group input:focus {
  border-bottom: 2px solid #4158D0;
}

.input-group i {
  color: #ffffff;
  opacity: 0.5;
  margin: 5px 5px 0 5px;
}


.inputs.main {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.inputs.main .inputs-form,
.select-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.btn-add {
  padding: 5px;
  color: #ffffff;
  background: #4158D0;
  border-radius: 2px;
  border: 1px solid #4158D0;
  outline: none;
  margin: 8px 0;
}

.btn-add:hover, 
.btn-delete:hover,
.btn-form:hover {
  background: #FFCC70;
  border: 1px solid #FFCC70;
  cursor: pointer;
}

.btn-delete {
  padding: 8px 12px;
  color: #ffffff;
  background: #4158D0;
  border: 1px solid #4158D0;
  outline: none;
}

.item-delete {
  width: 15%;
}

table {
  width: 100%;
  margin-top: 25px;
}

tbody {
  text-align: center;
}

.list {
  width: 55%;
  margin-left: 20px;
}

.table-item {
  background-color: #ffffff;
}

::placeholder { 
  color: rgba(0, 0, 0,.5);
  opacity: 1; 
}

/* FORMS: COUNTRIES - CITIES - COMPANIES */
.input-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.input-form input,
  select {
  margin-left: 10px;
  padding: 4px;
  outline: none;
  border: none;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.2);
  font-size: 16px;
}
  
.input-form input:focus,
select:focus {
  border-bottom: 2px solid #4158D0;
}

.save-localS {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 20px;
}

.btn-form{
  padding: 5px;
  color: #ffffff;
  background: #6177e6;
  border-radius: 2px;
  border: 1px solid #6177e6;
  outline: none;
  padding: 8px 30px;
}

.btn-form i {
  margin-left: 10px;
}
/* RESPONSIVE */
@media screen and (max-width: 900px) {
  .list {
    width: 65%;
  }
}

@media screen and (max-width: 750px) {

  * {
    font-size: 14px;
  }

  main {
    flex-direction: column;
  }

  .list {
    margin: 20px 5px;
    width: 100%;
  }

  .list-group label {
    font-size: 14px;
  }
  
  main form {
    align-items: start;
  }


  .input-group {
    justify-content: flex-start;
  }

  main .btn-add {
    margin: 8px 5px;
    width: 198px;
  }
}